<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to <span id="stacktitle">Stack Lite!</span>
  </h1>

  <p>Search for the highest voted and most viewed answers</p>

  <form (submit)="search()">
    <!-- <label for="">Subject</label><br> -->
    <input style = "text-align:center" type="text" name="" placeholder="search"/><br>
    <input type="submit" value="Search"/>
  </form>



  

  <div *ngFor="let question of questions">
    {{question}}
  </div>